<p>Thanks for signing up!</p>
<p>Please provide some information about yourself</p>
<p>(Optional)</p>
<form method="post">
    <div class="container">
<div>
<input type="text" name="age" placeholder="Age" /></div>
<div>
<input type="text" name="city" placeholder="City" /></div>
<div>
<input type="url" name="url" placeholder="Homepage" /></div>
 <input type="hidden" name="_csrf" value="{{csrfToken}}">
<button class="button" type="submit">Continue</button>
</div>
</form>
